.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  * {
	box-sizing: border-box;
  }
  
 
  .column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 400px; /* Should be removed. Only for demonstration */
  }
  
 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }








p {
  color: red;
  font-family: courier;
  font-size: 2000%;
}
label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
	cursor: pointer;
}
.custom-btn-disabled:hover{
    color:#FFFFFF;
    background: #aeb2b1 ;
    border-color: #000000;
    cursor: not-allowed!important;
}
.custom-btn-disabled{
    color:#FFFFFF;
    background: #aeb2b1 ;
    border-color: #000000;
    cursor: not-allowed!important;
}

.fb-share-button-1-pas {
	background-color: #0062B2;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    width: 280px;
    height: 34px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.fb-share-button-1-pas:hover, .fb-share-button-1-pas:active, .fb-share-button-1-pas:visited {
	text-decoration: none !important;
	color: white;
}

.fb-share-button-2-pasi {
	background-color: #0062B2;
    color: white;
    padding: 13px 10px;
    border-radius: 2px;
    width: 288px;
    height: 46px;
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.fb-share-button-2-pasi:hover, .fb-share-button-2-pasi:active, .fb-share-button-2-pasi:visited {
	text-decoration: none !important;
	color: white;
}

body#layout_body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-color: #1C2E53; /*#FAFAFA*/
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}
body#layout_body_nou {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-color: #1C2E53; /*#FAFAFA*/
	margin-top: 12px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}


.menutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
	cursor: pointer;
}

.menutext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
	cursor: pointer;
}

.menutext1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.2em #000000;
    filter: Shadow(Color=#000000, Direction=135, Strength=3);
}

.submenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
	cursor: pointer;
	padding-top: 1px;
}

.submenutext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
	cursor: pointer;
	padding-top: 1px;
}

a.menulink {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0.2em 0.2em 0.2em #000000;
	filter: Shadow(Color=#000000, Direction=135, Strength=3);
}

a.link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #069;
	text-decoration: none;
}

a.link:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #06F;
	text-decoration: none;
}

a.slink {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #069;
	text-decoration: none;
}

a.slink:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #06F;
	text-decoration: none;
}

.foottext, a.foottext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

a.foottext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	text-decoration: underline;
}

.foottext2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666;
}

.table {
	border-top: 0px;
	border-right: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-style: solid;
	border-color: #888;
}

.textheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.textheader_nou {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.textheader2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
}

.textheader3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

.contentHead {
	background-image: url(../img/a_content_middle.png);
	background-repeat: repeat-y;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #000;
}

.contentHead_nou {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
}
.contentHead2 {
	font-size: 14px;
	color: #999;
}

.content {
	background-image: url(../img/a_content_middle.png);
	background-repeat: repeat-y;
	background-position: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	padding: 30px 30px 20px 30px;
	vertical-align: top;
}

.content_nou {

	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	padding: 10px 30px 20px 30px;
	vertical-align: top;
}
.input_login {
	background-image: url(../img/a_ipt_user.png);
	background-repeat: no-repeat;
}

.input_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #9B9B9B;
	width: 260px;
	background: none;
	border: none;
}

.colhead {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	/*background-image: url(../img/colhead.png);
	background-repeat: repeat; */
	background: #DDD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DDD, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DDD, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DDD, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DDD, #ffffff); /* Standard syntax */
	border: 1px;
	border-style: solid;
	border-color: #DDD;
	padding-left: 10px;
	padding-right: 10px;
}

.border_lbr {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	border-top: 0px;
	border-right: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-style: solid;
	border-color: #DDD;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: justify;
}
.text_right {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    text-align: right;
}

.vtext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #A00;
}

.textB {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
}

.textNormal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
}

.popuphead, a.popuphead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}

a.popuphead:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
}

a {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: underline;
}
.fixPaymentTd{
    min-width: 50em!important;
}


.aperoLi{
    margin-top: 10px;
}

#apero{
    margin-left: 5px;
    margin-right: 1px;    
}
#apero img{
    width: 150px !important;
    max-width:50%!important;
    max-height: 50%!important;
    padding: 0px;    
}

/* start cookie */
.css-cookies{
    font-size: 28px!important;
    font-weight: 700!important;
    
}
.css-cookie-title{
    font-size: 26px!important;
    font-weight: 600!important;
    font-style: italic;
}
.g-consent{
    background: #d9edf7;        
    position: fixed;
    z-index: 999999;
    width: 100%;
    text-align: center;
    color: #31708f;
    bottom: 0px;        
    padding: 10px;
    height: auto;
    overflow: hidden;
	opacity: 0.85;
  filter: alpha(opacity=85);
}
.g-consent a{
    text-decoration: none;
    color: #000000;        
    padding-left:5px;
	
}
.g-consent i{
        font-size:20px!important;	
        padding-left:5px;
}
.info-cancel{
        float: right;
        padding-left:5px;
}
.info{
        border: 1px solid #f2f2f2;
        background: #999999;
        padding: 5px;
        color: #ffffff!important;
        margin-left: 5px; 
}
.ok{
        border: 1px solid #f2f2f2;
        background: #999999;
        padding: 5px;
        color: #ffffff!important;
        margin-left: 5px; 		
}
.what{
        float: left;
}
.spbtn{
        display: inline-block;
        padding-top: 5px!important;
}
footer img{
    max-height: 80px;
}

.lgoTitle{
    width: auto;
    max-height: 80px;
}
#institutions-main .headerText{
    background: #004990;
    color:#ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
#institutions-main .lgoMargin{        
    margin-top: 20px;
}
.txtPad{
    text-align: justify;
    margin-left:20px;

}
/* end cookie */

.noLeftPadding{
    padding-left: 0px;
}
.asqTitle h3{
    color:#ff0000;    
    font-weight: 700;
}
.asqBody{
    color:#333333;    
    text-align: justify;
}

@media (max-width: 1700px){
    .spbtn{
        margin-top: 5px;
        display: block!important;
   }
   .what{
       float:none!important;
   }
}

@media (max-width: 1200px){
    .fixPaymentTd{
        min-width: 35em!important;
    }
}

@media (max-width: 998px){
    .fixPaymentTd{
        min-width: 30em!important;
    }
}

#nrUsers {
	margin: 70px 0;
}

@media (max-width: 767px){
	#nrUsers {
		margin: 30px 0;
	}
    .fixPaymentTd{
        min-width: 26em!important;
    }
    .aperoLi{
        margin-top: 0px!important;
    }
}

@media (max-width: 600px){
    .fixPaymentTd{
        min-width: 20em!important;
    }
}

@media (max-width: 468px){
    .fixPaymentTd{
        min-width: 8em!important;        
    }
    #apero{
        margin-top: 2px;
    }
    
}

@media (max-width: 360px){
    .fixPaymentTd{
        min-width: 5em!important;        
    }
}

.no-p{
    padding: 0px!important;    
}
.no-p-l-r{
    padding-left: 0px!important;    
    padding-right: 0px!important;    
}
.no-m{
    margin: 0px!important;
}

.css-msg-important-anaf{
    color:#FF0000;
}

.btn-left-white-space-normal{
	text-align: left!important;
	white-space: normal!important;
}

/*.counter .number {*/
	/*color: #333333;*/
/*}*/

.counter-p-custom {
	text-align: left;
	font: normal normal bold 14px/24px Open Sans;
	letter-spacing: 0px;
	color: #999999;
	opacity: 1;
	margin: 30px 0 0 0;
}

.counter .number .pad-number-adjustment {
	padding-left: 8px;
}

.counter .number .number-adjustment {
	padding-left: 8px;
	font-size: 24px;
	max-width: 300px;
	display: inline-block;
}


