<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cos</title>
</head>
<body>
    <center>
   {% for key, value in d2.items() %}
    <p>{{ key }}{{ value }}<p>
   {% endfor %}
   <p>Totalul este: {{pret1}}<p>

    <div>
        <form action="/cos" method="get">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>
</body>
</html>