<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
   <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 100px;
      height: 400px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  </style>
</head>
<body>
  
  <center><h1>Restaurante populare</h1></center>
  <div class="row">
    <div class="column" >
        <image src="{{url_for('static', filename = 'seafood.jpg')}}" alt="Sea Food" width="300" height="200">
        <h1>Popeye's Feast</h1>
        <form action="/restaurant1" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>
      </div>

      <div class="column">
        <img src="{{url_for('static', filename = 'burger.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>California</h1>
        <form action="/restaurant2" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
    </div> 
    <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename = 'grill.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>Cheese & Grill</h1>
        <form action="/restaurant3" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
      <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename = 'tacos.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>La Papito</h1>
        <form action="/restaurant4" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
      </div>
      <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename = 'lobster.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>Olympus Diner</h1>
        <form action="/restaurant5" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
      <div class="column">
        <img src="{{url_for('static', filename = 'pasta.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>Gorgeous</h1>
        <form action="/restaurant6" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
      </div>
      <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename = 'swordfish.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>Meat Lovers</h1>
        <form action="/restaurant7" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
      
      <div class="column">
        <img src="{{url_for('static', filename = 'bakeries.jpg')}}" alt="Denim Jeans" style="homepage.css" width="300" height="200">
        <h1>Johnny's</h1>
        <form action="/restaurant8" method="get">
          <input type="submit" value="Enter restaurant" class="button"
               name="Submit" id="frm1_submit" />
        </form>      </div>
      </div>

<body>