<!DOCTYPE html>
<html lang="en">
<head>
    <title>LogIn</title>
    <style>
        h1 {
          color: blue;
          font-family: verdana;
          font-size: 300%;
        }
        * {
      box-sizing: border-box;
    }
    body {
  background-image: url("{{url_for('static', filename = 'mancare.jpg')}}");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}        
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 100px;
      height: 400px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
 
        </style>  

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
   <h1> Delivery best food in town</h1>
    <div class="row">
        <div class="column" >
            <image src="{{url_for('static', filename = 'seafood.jpg')}}" alt="Sea Food" width="300" height="200">
          
        </div>
        <div class="column" >
     
<form action="" method="post">
    <label style="color:blue;"  >username</label><br>
    <input name="username" type="text" placeholder="username"><br><br>
    <label style="color:blue;">password</label><br>
    <input name="password" type="password" placeholder="password"><br><br>
    <input type="submit" value="Login"><br><br>
</form>
</div>
    <form action="/register">
<label>Make an account: </label>
    <input value="Register" type="submit">
    </form>
</div>
</body>
</body>
</html>