<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'greece.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>Olympus Diner</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'greeksalad.jpg')}}" width="300" height="240">
        <h1>Greek Salad</h1>
        <p class="pret: ">$25.00</p>
        <p>red wine vinegar, feta cheese, avocado, honey, yellow bell</p>
        <form action="/restaurant5" method="post">
            <input type="submit" class="button" value="Greek Salad" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'ssalad.jpg')}}" width="300" height="240">
        <h1>Shrimps salad</h1>
        <p class="price">$18.50</p>
        <p>onion, olive oil, ripe tomatoes, dry wine</p>
        <form action="/restaurant5" method="post">
            <input type="submit" class="button" value="Shrimps salad" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'span.jpg')}}" width="300" height="240">
        <h1>Spanakopita</h1>
        <p class="price">$30.99</p>
        <p>spinach, leek, olive oil, feta, dill</p>
        <form action="/restaurant5" method="post">
            <input type="submit" class="button" value="Spanakopita" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>


    
    <div class="card">
        <img src="{{url_for('static', filename = 'sardines.jpg')}}" width="300" height="240">
        <h1>Fries</h1>
        <p class="price">$6.85</p>
        <p></p>
        <form action="/restaurant5" method="post">
            <input type="submit" class="button" value="Fries" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <p>Ingredients:</p>
    <div class="card">
        <h1>shrimp</h1>
        <p class="price">$6.99</p>
        <form action="/restaurant5" method="post">
            <input type="submit" class="button" value="shrimp" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <div class="card">
        <h1>olive oil</h1>
        <p class="price">$10.99</p>
        <form action="/restaurant5" method="post">
            <input type="submit" class="button" value="olive oil" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

    <div>
        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>