<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'ocean.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>Popeye's Feast</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'octupus.jpg')}}" width="300" height="240">
        <h1>Octopus with baked potatoes</h1>
        <p class="pret: ">$40.00</p>
        <p>fresh grilled octupus meat, baked potatoes, cucumber and tomato salad</p>
        <form action="/restaurant1" method="post">
            <input type="submit" class="button" value="Octopus with baked potatoes" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'lobster.jpg')}}" width="300" height="240">
        <h1>Lobster with mashed potatoes</h1>
        <p class="price">$39.99</p>
        <p>lobster, mashed potatoes, cucumber salad</p>
        <form action="/restaurant1" method="post">
            <input type="submit" class="button" value="Lobster with mashed potatoes" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'swordfish.jpg')}}" width="300" height="240">
        <h1>Sword fish with baked potatoes</h1>
        <p class="price">$24.99</p>
        <p>fresh swordfish meat, baked potatoes, tomato salad</p>
        <form action="/restaurant1" method="post">
            <input type="submit" class="button" value="Sword fish with baked potatoes" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'sardines.jpg')}}" width="300" height="240">
        <h1>Sardines</h1>
        <p class="price">$15.85</p>
        <p>sardines cooked with olive oil, dill</p>
        <form action="/restaurant1" method="post">
            <input type="submit" class="button" value="Sardines" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'fishnsalad.jpg')}}" width="300" height="240">
        <h1>Fish and salad</h1>
        <p class="price">$19.99</p>
        <p>freash fish, salad made with onion, carrots, cucumbers, tomatoes</p>
        <form action="/restaurant1" method="post">
            <input type="submit" class="button" value="Fish and salad" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <p>Ingredients:</p>
    
    <div class="card">
      <h1>fish</h1>
      <p class="price">$7.99</p>
      <form action="/restaurant1" method="post">
          <input type="submit" class="button" value="fish" name="Add" placeholder="Add"/><br><br>
      </form> 
  </div>

  <div class="card">
    <h1>olive oil</h1>
    <p class="price">$8.99</p>
    <form action="/restaurant1" method="post">
        <input type="submit" class="button" value="olive oil" name="Add" placeholder="Add"/><br><br>
    </form> 
</div>

<div class="card">
  <h1>fillets hallibu</h1>
  <p class="price">$3.99</p>
  <form action="/restaurant1" method="post">
      <input type="submit" class="button" value="fillets hallibu" name="Add" placeholder="Add"/><br><br>
  </form> 
</div>


  <p>Instructions Checklist
    Step 1
    In a stainless steel or glass bowl, combine garlic, olive oil, basil, salt, pepper, lemon juice, and parsley.
    Step 2
    Place the halibut filets in a shallow glass dish or a resealable plastic bag, and pour the marinade over the fish. Cover or seal and place in the refrigerator for 1 hour, turning occasionally.
    Step 3
    Preheat an outdoor grill for high heat and lightly oil grate. Set grate 4 inches from the heat.
    Step 4
    Remove halibut filets from marinade and drain off the excess. Grill filets 5 minutes per side or until fish is done when easily flaked with a fork.
  </p>

    <div>
        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>