<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'meatwp.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>Meat Lovers</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'bangus.jpg')}}" width="300" height="240">
        <h1>Black Angus Beef</h1>
        <p class="pret: ">$30.00</p>
        <p>2xgrilled beef</p>
        <form action="/restaurant7" method="post">
            <input type="submit" class="button" value="Black Angus Beef" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'bacon.jpg')}}" width="300" height="240">
        <h1>Fries with Bacon</h1>
        <p class="price">$18.50</p>
        <p>fries, bacon</p>
        <form action="/restaurant7" method="post">
            <input type="submit" class="button" value="Fries with Bacon" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'gpork.jpg')}}" width="300" height="240">
        <h1>Pork Menu</h1>
        <p class="price">$22.99</p>
        <p>pork, mashed potatoes</p>
        <form action="/restaurant7" method="post">
            <input type="submit" class="button" value="Pork Menu" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'fries.jpg')}}" width="300" height="240">
        <h1>Fries</h1>
        <p class="price">$6.85</p>
        <p></p>
        <form action="/restaurant7" method="post">
            <input type="submit" class="button" value="Fries" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>


    <p>Ingredients:</p>
    <div class="card">
        <h1>Bacon</h1>
        <p class="price">$5.99</p>
        <form action="/restaurant6" method="post">
            <input type="submit" class="button" value="Bacon" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <div class="card">
        <h1>Beef</h1>
        <p class="price">$8.99/100g</p>
        <form action="/restaurant6" method="post">
            <input type="submit" class="button" value="Beef" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <p>1. Take the beef out of the fridge at least an hour before you want to cook it. Calculate the cooking time and heat the oven to 240C/220C fan/gas 9.

        2. Season the fat with salt and pepper and rub in a little flour or mustard powder, if you like.
        
        3. Lay the beef on top of the two halved onions in a roasting tin and roast for 20 mins before turning down to 180C/160C fan/gas 4 and cooking for 1 hours 40 mins. Remove and rest for at least an hour.</p>

    <div>
        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>