<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'rsip.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>California</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'burger.jpg')}}" width="300" height="240">
        <h1>Hamburger</h1>
        <p class="pret: ">$15.00</p>
        <p>beef, bread, onion, ketchup</p>
        <form action="/restaurant2" method="post">
            <input type="submit" class="button" value="Hamburger" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'cheeseburger.jpg')}}" width="300" height="240">
        <h1>Cheeseburger</h1>
        <p class="price">$17.50</p>
        <p>beef, bread, onion, ketchup, cheese</p>
        <form action="/restaurant2" method="post">
            <input type="submit" class="button" value="Cheeseburger" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'doublehamburger.jpg')}}" width="300" height="240">
        <h1>Double Burger</h1>
        <p class="price">$25.99</p>
        <p>2xbeef, bread, onion, ketchup, cheese</p>
        <form action="/restaurant2" method="post">
            <input type="submit" class="button" value="Double Burger" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'burger.jpg')}}" width="300" height="240">
        <h1>Italian Burger</h1>
        <p class="price">$21.85</p>
        <p>beef, bread, onion, ketchup, mozarella, pickles</p>
        <form action="/restaurant2" method="post">
            <input type="submit" class="button" value="Italian Burger" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'dcheese.jpg')}}" width="300" height="240">
        <h1>Double Cheeseburger</h1>
        <p class="price">$26.99</p>
        <p>2xbeef, bread, onion, ketchup, cheese</p>
        <form action="/restaurant2" method="post">
            <input type="submit" class="button" value="Double Cheeseburger" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <p>Ingredients:</p>
    <div class="card">
        <h1>beef</h1>
        <p class="price">$15.99</p>
        <form action="/restaurant2" method="post">
            <input type="submit" class="button" value="beef" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>
    <div>

        <div class="card">
            <h1>burger dip</h1>
            <p class="price">$2.99</p>
            <form action="/restaurant2" method="post">
                <input type="submit" class="button" value="burger dip" name="Add" placeholder="Add"/><br><br>
            </form> 
          </div>
        <div>
        
    <p>Tips for the Best Burger Patties:
        Prepare buns and toppings first and cook burger patties last.
        Use refrigerated Ground Chuck Beef (80/20) – grind your own or buy it ground, but 20% fat is ideal.
        Do not overwork your meat.
        Shape the patties 1” wider than the bun since they shrink on the grill.
        Make an indentation in the center to prevent it from plumping up in the center.
        Season patties generously with salt and pepper just prior to cooking. Salt changes the structure of proteins and toughens burgers. Do not salt the ground beef before forming into patties.
        Once on the grill, let patties brown and sear well (3-5 min) before flipping and do not press down on the burger.</p>

        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>