<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'bakerys.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>Johnny's</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'muffin.jpg')}}" width="300" height="240">
        <h1>Muffins</h1>
        <p class="pret: ">$2.00/buc</p>
        <p></p>
        <form action="/restaurand8" method="post">
            <input type="submit" class="button" value="Muffins" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'appc.jpg')}}" width="300" height="240">
        <h1>Apple Crumble</h1>
        <p class="price">$3.00/slice</p>
        <p></p>
        <form action="/restaurand8" method="post">
            <input type="submit" class="button" value="Apple Crumble" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'marshmellow.jpg')}}" width="300" height="240">
        <h1>Marshmellow</h1>
        <p class="price">$0.99/buc</p>
        <p></p>
        <form action="/restaurand8" method="post">
            <input type="submit" class="button" value="Marshmellow" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>


    <div class="card">
        <img src="{{url_for('static', filename = 'cheesecake.jpg')}}" width="300" height="240">
        <h1>cheesecake</h1>
        <p class="price">$2.99/slice</p>
        <p></p>
        <form action="/restaurand8" method="post">
            <input type="submit" class="button" value="cheesecake" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <p>Ingredients:</p>
    <div class="card">
        <h1>Chocolate</h1>
        <p class="price">$7.99</p>
        <form action="/restaurant6" method="post">
            <input type="submit" class="button" value="Chocolate" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>
      <div class="card">
        <h1>Vanilla</h1>
        <p class="price">$7.99</p>
        <form action="/restaurant6" method="post">
            <input type="submit" class="button" value="Vanilla" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <p>Soften butter. If you are planning on making these, take the butter out of the fridge first thing in the morning so it’s ready to go when you need it.
        Measure the flour correctly. Be sure to use a measuring cup made for dry ingredients (NOT a pyrex liquid measuring cup). There has been some controversy on how to measure flour. I personally use the scoop and shake method and always have (gasp)! It’s easier and I have never had that method fail me.  Many of you say that the only way to measure flour is to scoop it into the measuring cup and level with a knife. I say, measure it the way you always do. Just make sure that the dough matches the consistency of the dough in the photos in this post. 
        Use LOTS of chocolate chips. Do I really need to explain this?!
        DO NOT over-bake these chocolate chip cookies! I explain this more below, but these chocolate chip cookies will not look done when you pull them out of the oven, and that is GOOD.</p>

    <div>
        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>