<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'rsip.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>Cheese & Grill</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'grilledbeef.jpg')}}" width="300" height="240">
        <h1>Grilled Beef</h1>
        <p class="pret: ">$25.00</p>
        <p>2xgrilled beef</p>
        <form action="/restaurant3" method="post">
            <input type="submit" class="button" value="Grilled Beef" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'gpork.jpg')}}" width="300" height="240">
        <h1>Grilled Pork</h1>
        <p class="price">$18.50</p>
        <p>2xGrilled Pork</p>
        <form action="/restaurant3" method="post">
            <input type="submit" class="button" value="Grilled Pork" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'grillesfish.jpg')}}" width="300" height="240">
        <h1>Grilled Fish</h1>
        <p class="price">$30.99</p>
        <p>2grilled fish</p>
        <form action="/restaurant3" method="post">
            <input type="submit" class="button" value="Grilled Fish" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'fries.jpg')}}" width="300" height="240">
        <h1>Fries</h1>
        <p class="price">$6.85</p>
        <p></p>
        <form action="/restaurant3" method="post">
            <input type="submit" class="button" value="Fries" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'cheese.jpg')}}" width="300" height="240">
        <h1>Add Cheese</h1>
        <p class="price">$5.99</p>
        <p>2xbeef, bread, onion, ketchup, cheese</p>
        <form action="/restaurant3" method="post">
            <input type="submit" class="button" value="Add Cheese" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <p>Ingredients:</p>
    <div class="card">
        <h1>Pork Chops</h1>
        <p class="price">$5.99</p>
        <form action="/restaurant3" method="post">
            <input type="submit" class="button" value="Pork Chops" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <p>Boneless or bone in pork chops, about 1 inch thick, will cook in 8-10 minutes. If you are grilling thicker pork chops, 
          the bone will start to affect the timing of your cook. 1 1/2 inch thick boneless pork chops typically cook through in 14-18 minutes and bone-in 
          chops at that thickness can take up to 20 minutes or more.</p>

        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>