<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  background-image: url("{{url_for('static', filename = 'rsip.jpg')}}");
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>La Papito</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'ftaco.jpg')}}" width="300" height="240">
        <h1>Fried Tacos</h1>
        <p class="pret: ">$15.00</p>
        <p>beef, onion, red chilli, fires</p>
        <form action="/restaurant4" method="post">
            <input type="submit" class="button" value="Fried Tacos" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'ntacos.jpg')}}" width="300" height="240">
        <h1>Tacos</h1>
        <p class="price">$17.50</p>
        <p>beef, onion, red chilli, fires</p>
        <form action="/restaurant4" method="post">
            <input type="submit" class="button" value="Tacos" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'ctacos.jpg')}}" width="300" height="240">
        <h1>Cheesy Tacos</h1>
        <p class="price">$25.99</p>
        <p>beef, onion, red chilli, fires, cheese</p>
        <form action="/restaurant4" method="post">
            <input type="submit" class="button" value="Cheesy Tacos" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <p>Ingredients:</p>
    <div class="card">
        <h1>beef</h1>
        <p class="price">$10.99</p>
        <form action="/restaurant4" method="post">
            <input type="submit" class="button" value="beef" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

      <div class="card">
        <h1>tortilla</h1>
        <p class="price">$2.99</p>
        <form action="/restaurant4" method="post">
            <input type="submit" class="button" value="Adauga in cos" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <div class="card">
        <h1>chilli</h1>
        <p class="price">$5.99</p>
        <form action="/restaurant4" method="post">
            <input type="submit" class="button" value="chilli" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <p>Cook beef in 10-inch skillet over medium heat 8 to 10 minutes, stirring occasionally, until brown; drain.
        
        Stir salsa into beef. Heat to boiling, stirring constantly; reduce heat to medium-low. Cook 5 minutes, stirring occasionally. Pour beef mixture into large serving bowl.

        Heat taco shells as directed on package. Serve taco shells with beef mixture, lettuce, tomato and cheese.</p>


    <div>

    <div>
        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>