<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">-->
       <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 100px;
          height: 400px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        body {
  /*background-image: url("{{url_for('static', filename = 'ocean.jpg')}}");*/
  background-repeat: repeat;
}        
        .button {
      background-color: #f37826;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {
      background-color: #c92c05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
      </style>
    </head>    
    <center>
        
<h1>Gorgeous</h1>
    <div class="card">
        <img src="{{url_for('static', filename = 'carbonara.jpg')}}" width="300" height="240">
        <h1>Carbonara Pasta</h1>
        <p class="pret: ">$25.00</p>
        <p></p>
        <form action="/restaurand6" method="post">
            <input type="submit" class="button" value="Carbonara Pasta" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'lasagna.jpg')}}" width="300" height="240">
        <h1>Lasagna</h1>
        <p class="price">$18.50</p>
        <p></p>
        <form action="/restaurand6" method="post">
            <input type="submit" class="button" value="Lasagna" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>
    
    <div class="card">
        <img src="{{url_for('static', filename = 'raviolli.jpg')}}" width="300" height="240">
        <h1>Raviolli</h1>
        <p class="price">$30.99</p>
        <p></p>
        <form action="/restaurand6" method="post">
            <input type="submit" class="button" value="Raviolli" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>

    <div class="card">
        <img src="{{url_for('static', filename = 'linguini.jpg')}}" width="300" height="240">
        <h1>Linguini</h1>
        <p class="price">$6.85</p>
        <p></p>
        <form action="/restaurand6" method="post">
            <input type="submit" class="button" value="Linguini" name="Add" placeholder="Add"/><br><br>
        </form> 
    </div>


    <p>Ingredients:</p>
    <div class="card">
        <h1>Pasta</h1>
        <p class="price">$7.99</p>
        <form action="/restaurant6" method="post">
            <input type="submit" class="button" value="Pasta" name="Add" placeholder="Add"/><br><br>
        </form> 
      </div>

      <p>Heat oil in a large, non-stick frying pan over medium heat. Add pancetta and garlic. Cook, stirring, for 5 minutes or until pancetta is crisp. Drain on paper towel.
        Whisk egg yolks, eggs, cream and three-quarters of the parmesan together in a bowl. Season with salt and pepper.
        Add egg mixture and pancetta mixture to pasta. Season with salt and pepper. Toss over low heat until well combined. Serve with remaining parmesan.
      </p>



    <div>
        <form action="/cos" method="post">
           <input type="submit" class="button1" value="Cos" name="Cos" placeholder="Cos"/><br><br>
        </form>
    </div>
    </center>